<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "S&J Risk Management", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '/' %></li>
          <li><%= link_to "About", '/about' %></li>
          <li><%= link_to "Services", '/help' %></li>
          <li><%= link_to "Contact", '/contact' %></li>
					<li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!--You changed the paths of acouple of the links above so they would work in
the header.  I don't know if I am supposed to do that or just leave them the
same, look at the footer.html to see how the book told me to do it.. but it
is not working-->